<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>
    <div id="wrapper">
      <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>

          <main>
           
            <%- body %>
          </main>

    </div>
    <%- include('../partials/footer') %>
    <script src="/js/addToCart.js"></script>
  </body>

</html>